@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.bg-meca-blue-500 {
  background-color: #095ad3;
}

.bg-meca-blue-500:hover {
  background-color: #095ad3;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
