.modal[open] {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  background-color: #101828;
}

.checkImg {
  margin-top: -7px;
}

.addCompany {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.addCompanySub {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.modalbtn {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 20px;
}

@media only screen and (max-width: 460px) {
  .modalbtn {
    flex-direction: column-reverse;
  }
  .maybebtn,
  .continuebtn {
    width: 100%;
    row-gap: 12px;
  }
  .modal-box {
    width: 90%;
  }
}
